@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
/* Color Theme Swatches in Hex */
.port-#2-1-hex { color: #1F3A42; }
.port-#2-2-hex { color: #96BFDB; }
.port-#2-3-hex { color: #51638F; }
.port-#2-4-hex { color: #321842; }
.port-#2-5-hex { color: #6B5B8A; }

*{
    font-family: Helvetica, Arial, sans-serif;
    /*display: grid;*/
}
body{
    width: 960px;
    margin: 0 auto;
    background-color: #96BFDB;
}
h1{
    font-family: 'Bowlby One';
    font-style: normal;
    font-weight: normal;
    /*font-size: 200px;
    line-height: 313px;*/
    color: #321842;
}
#content{
    overflow: auto;
    height: 100%;
}
#nav, #feature, #footer{
    background-color: #989898;
    padding: 10px;
    margin: 10px;
}
.column1, .column2, .column3{
    background-color: #989898;
    width: 300px;
    float: left;
    margin: 10px;
}
li{
    display: inline;
    padding: 5px;
}
